body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
:root {
  --background-color: #2f303a;
}
:root {
  --color-text: #757575;
}
:root {
  --Selection-color: #2196f3;
}

/* ######### ######## ###### header ###### ######## ######### */
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ececec;
  padding: 24px 27px 24px 15px;
}
.go-links {
  display: flex;
  list-style: none;
  padding: 0;

  margin-top: 0;
  margin-bottom: 0;
}
.go-links li:last-child {
  margin-left: 46px;
}
.go-links li:nth-child(2) {
  margin-left: 46px;
}

.contact-links {
  display: flex;
}
.contact-link:last-child {
  margin-left: 50px;
}
.contact-link:first-child {
  margin-left: 276px;
}

.logo-text-first {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  width: 145px;
}

.accent {
  color: var(--Selection-color);
}
.go-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.go-link:hover,
.go-link:focus {
  color: var(--Selection-color);
}

.contact-link {
  color: var(--color-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--Selection-color);
}
/* ^^^^^^^^^^^^^^^^^^^^^ header ^^^^^^^^^^^^^^^^^^^^^*/

/* ######### ######## ###### main ###### ######## ######### */

.hero {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--background-color);
}

.head-btn {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.headline {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  padding-top: 99px;
  margin-top: 0;
  margin-bottom: 30px;
  letter-spacing: 0.06em;
  width: 696px;
}

.btn-service {
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 41px 10px 41px;
}
.btn {
  padding-bottom: 113px;
}
.btn-service:hover,
.btn-service:focus {
  background-color: var(--Selection-color);
  color: #ffffff;
}
/* ######## ######## section 2class="info" ######## ######## */

.advantages {
  display: flex;
  max-width: 1170;
  margin: 0 auto;
  padding: 0 15px;
  justify-content: space-between;
  padding-top: 94px;
}
.info h4 {
  margin: 0;
  padding-bottom: 10px;
}
.info {
  max-width: 270px;
  margin: 0;
  height: 101px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin: 0;
}
/* ######## ######## section 3-4 title ######## ######## */
.area-activity {
  padding-bottom: 94px;
  padding-top: 94px;
}
.img-list {
  display: flex;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-between;
  margin: 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
/* ######## ######## section 4 title-card ######## ######## */
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.title-2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}
.surname {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  justify-items: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--color-text);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 30px;
}
.card {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}
/* ######### ######## ###### portfolio ###### ######## ######### */
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}
.switch-elements {
  display: flex;
  list-style: none;
  margin: 0;

  padding-left: 310px;
  padding-right: 318px;
  justify-content: space-between;
}
.switch-elements li:first-child {
  width: 121px;
}
.switch-elements li:last-child {
  width: 121px;
}
.switch-elements li:nth-child(2) {
  width: 93px;
}
.switch-elements li:nth-child(3n) {
  width: 114px;
}
.switch-elements li:nth-last-child(2) {
  width: 91px;
}
.switch-element {
  border-radius: 4px;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
}

.switch-element:hover,
.switch-element:focus {
  color: #ffffff;
  background-color: var(--Selection-color);
  border-color: var(--Selection-color);
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 34px;
  margin-bottom: 0px;
}
img {
  display: block;
  max-width: 100%;
}

.bottom-card {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px 20px 24px;
}
.name-project {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.type-of-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--color-text);
  margin-top: 4px;
  margin-bottom: 0;
}
/* ######### ######## ###### footer ###### ######## ######### */
.foot-link {
  display: flex;
  padding-left: 15px;
  flex-direction: column;

  height: 252px;
  background-color: var(--background-color);
}
address > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.contact-link-map {
  font-size: 14px;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-link-map:hover,
.contact-link-map:focus {
  color: var(--Selection-color);
}
.contact-email {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
}

.contact-email:hover,
.contact-email:focus {
  color: var(--Selection-color);
}

.contact-nr {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: var(--background-color);
}

.contact-nr:hover,
.contact-nr:focus {
  color: var(--Selection-color);
}

.logo-text-bottom {
  font-family: "Raleway";
  color: #ffffff;
  font-weight: 700;
  font-size: 26px;
  background-color: var(--background-color);
  margin-top: 60px;
  margin-bottom: 20px;
}
.link-contact {
  margin-bottom: 9px;
}
.email-contact {
  margin-bottom: 9px;
}
address {
  font-style: normal;
}
